<app-header></app-header>

<div class="imgcontainer">
  <img src="img/delete-profile.png" alt="TrashIcon">
</div>

<p id="siteTitle" class="divCenter">PROFIL LÖSCHEN</p>

<table align="center">
  <colgroup>
    <col width="100">
    <col width="300">
    <col width="100">
  </colgroup>
  <tr>
    <td align="center" valign="middle" id="fontPassword">PASSWORT*</td>
    <td align="center" valign="middle"><input type="password" id="passwordField" class="field-border"></td>
    <td> </td>
  </tr>
</table>

<div class="divCenter">
  <button type="submit" id="deleteButton">LÖSCHEN</button>
</div>

<app-footer></app-footer>
