<app-header></app-header>

<div id="pictureCurrentOld" class="divCenter" *ngIf="picTopOld">
  <img [src]="'../../..'+avatarPictures[currentPicture]?.avatarBigUrl" height="70" width="70" />
</div>

<div id="pictureCurrentNew" class="divCenter" *ngIf="picTopNew">
  <img [src]="'../../..'+pictureCurrentUrl" height="70" width="70" />
</div>

<p id="siteTitle" class="divCenter">PROFILBILD ÄNDERN</p>

<div class="divCenter">
  <button type="submit" class="cancelButton" [routerLink]="['/home']">ABBRECHEN</button>
  <button type="submit" class="saveButton" (click)="changePicture()">SPEICHERN</button>
</div>

<div align="center">
  <div id="pictureContainer">
    <img *ngFor="let avatar of avatarPictures, let i = index" [src]="'../../../'+avatar.avatarBigUrl" height="70px" width="70px"
         class="pictureRowMargin" (click)="changePictureCurrent('../../..'+avatar.avatarBigUrl, i)"/>
  </div>
</div>

<div class="divCenter">
  <button type="submit" class="cancelButton" [routerLink]="['/home']">ABBRECHEN</button>
  <button type="submit" class="saveButton" (click)="changePicture()">SPEICHERN</button>
</div>

<app-notification-advice [(visible)]="notificationService.advice.show"></app-notification-advice>
<app-notification-confirmation [(visible)]="notificationService.confirmation.show"></app-notification-confirmation>
<app-notification-warning [(visible)]="notificationService.warning.show"></app-notification-warning>
