<form action="action_page.php">
  <div class="imgcontainer">

 <img src="img\login\header.png" alt="Avatar" class="avatar">
  </div>

  <div class="container" id = "eingabe">

 <input type="text" placeholder="USER" name="uname" required>
    <br>

<input type="password" placeholder="PASSWORD" name="psw" required>
    <br>
    <button type="submit" [routerLink]="['/home']">LOS!</button>
  </div>

  <div class="container2">

  <span class="psw">Sie möchten mit CHECK! arbeiten?
    <br>
    <a href="#">Jetzt registieren.</a></span>
  </div>

  <div class="footer">
    <img src="img\login\footer.png">

 <p id="footerhead">edition 2016 dark night blue 1.0</p>
    <p>CHECK! und CHECK! Lehrerzimmer sind Produkte des Raup&Ritter Verlag und der OnWerk Softwareagentur Mannheim</p>

 <p>www.raupundritter.com - Kontakt - Impressum - Preise - Hilfe</p>
  </div>
</form>
