.inputLogin {
  border-radius: 8px;
  padding:3px;
  margin: auto;
  height: 40px;
  text-align: left;
  margin-top: 10px;
  font-size: 13px;
  align-self: center;
}

.container1 {
  text-align: center;
}

.container2 {
  text-align: center;
  padding: 16px;
}


#LoginUser {
  width: 300px !important;
  color: grey;
  font-family: widolte_regular;
}

#LoginPassword {
  width: 300px !important;
  color: #001a3a;
  font-family: roboto-thin;
}

#picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.buttonLogin {
  background-color: #001a3a;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  font-family: widolte_regular;
  height: 40px;
  width: 150px;
}


.field-input {
  border: 3px solid #d3ddf2;
  border-radius: 7px;
}

.field-input:focus {
  border-color: #8da6d6;
}

.footer-text{
  text-align: center;
  font-family: Roboto-Thin;
  font-size: 9pt;
  color: #8da6d6;
}

.footer {
  padding: 40px;
  text-align: center;
  font-size: 9px;
  color: #8da6d6;
}

.footerhead {
  text-align: center;
  font-family: Roboto-Thin;
  font-size: 9px;
  color: #001a3a;
  margin: 0px;
}

.psw {
  font-size: 13px;
  color: #8da6d6;
}

