<app-header></app-header>
<div class="imgcontainer" id="pictureCenter" >
  <img src="../../images/change-password.png" height="70" width="70"/>
</div>

<p id="siteTitle" class="divCenter">PASSWORT ÄNDERN</p>

<form>
  <table align="center">
    <tr>
      <td align="right" width="500" class="fontPassword">AKTUELLES PASSWORT*&nbsp;</td>
      <td align="center" width="300" ><input id="oldPassword" type="password" class="passwordField field-border"></td>
      <td rowspan="3" width="500">
          <div class="securityText left-arrow">Aus Sicherheitsgründen muss das Passwort
            mindestens 7-stellig sein sowie einen Großbuchstaben,
            eine Ziffer und ein Sonderzeichen
            enthalten.
          </div>
      </td>
    </tr>
    <tr>
      <td align="right" width="500" class="fontPassword">NEUES PASSWORT*&nbsp;</td>
      <td align="center" width="300" ><input id="newPassword" [(ngModel)]="password" class="passwordField field-border"
                                                #pwField="ngModel" name="ngModel" type="password"
      >
      </td>
    </tr>
    <tr>
      <td align="right"  width="500" class="fontPassword">PASSWORT BESTÄTIGUNG*&nbsp;</td>
      <td align="center" width="300" ><input id="confirmPassword"  type="password" class="passwordField field-border"></td>
    </tr>


  </table>

  <div class="divCenter">
    <button type="submit" id="changeButton" (click)="checkPassword()">ÄNDERN</button>
  </div>

  <app-notification-advice [(visible)]="notificationService.advice.show"></app-notification-advice>
  <app-notification-confirmation [(visible)]="notificationService.confirmation.show"></app-notification-confirmation>
  <app-notification-warning [(visible)]="notificationService.warning.show"></app-notification-warning>


</form>
