<app-header></app-header>


  <div class="imgcontainer">
    <img src="../../img/change-password.png" alt="TrashIcon">
  </div>

  <p id="siteTitle" class="divCenter">PASSWORT ÄNDERN</p>

  <form>
  <table align="center">
    <colgroup>
      <col width="200">
      <col width="300">
      <col width="200">
    </colgroup>
    <tr>
      <td align="right" valign="middle" class="fontPassword">AKTUELLES PASSWORT*&nbsp;</td>
      <td align="center" valign="middle"><input type="password" class="passwordField field-border"></td>
      <td> </td>
    </tr>
    <tr>
      <td align="right" valign="middle" class="fontPassword">NEUES PASSWORT*&nbsp;</td>
      <td align="center" valign="middle"><input id="match" type="password" class="passwordField field-border" name="pw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" title="Aus Sicherheitsgründen muss das Passwort mindestens 7-stellig sein, sowie einen Großbuchstaben, eine Ziffer und ein Sonderzeichen"></td>
      <td> </td>
    </tr>
    <tr>
      <td align="right" valign="middle" class="fontPassword">PASSWORT BESTÄTIGUNG*&nbsp;</td>
      <td align="center" valign="middle"><input id="match2" type="password" class="passwordField field-border" name="pw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"></td>
      <td> </td>
    </tr>

  </table>

  <div class="divCenter">
    <button type="submit" id="changeButton">ÄNDERN</button>
  </div>
  </form>

<app-footer></app-footer>
