<nav class="navbar navbar-fixed-top" id="header">
  <section class="container-fluid">
    <section class="row flex-items-xs-between">
      <!--- "Menu-left"--->
      <section class="col-xs-2">

        <!--- "Kapitelübersicht" --->
        <div (mouseover)="setDdVisible(0)" class="dropdown" (mouseleave)="setDdUnvisible(0)" >
          <section *ngIf="visibleArray[0]" class="upper-arrow-white"></section>
          <section *ngIf="visibleArray[0]" class="upper-arrow-blue"></section>
          <button type="button" class="nav-button " id="chapter-overview"></button>
          <div *ngIf=visibleArray[0] class="dropdown-content dropdown-height" id="dropdown-chapter-overview">
            <section class="dropdown-header">
              <section class="row">
                <img src="../../../images/confirmation.png" class="col-xs-5 dropdown-header-picture"/>
                <p class="dropdown-header-text-1 col-xs-7">
                  CHECK!<br>KOMPETENZLISTE
                </p>
              </section>
            </section>

            <section class="dropdown-scroll">
              <a (click)="loadChapter(1)" class="ch00 ch01">DAS BIN ICH!</a>
              <a (click)="loadChapter(2)" class="ch00 ch02">ICH UND DIE ANDEREN</a>
              <a (click)="loadChapter(3)" class="ch00 ch03">DIE WELT UM MICH HERUM</a>
              <a (click)="loadChapter(4)" class="ch00 ch04">ICH WERDE SELBSTSTÄNDIG</a>
              <a (click)="loadChapter(5)" class="ch00 ch05">SICH BEWEGEN</a>
              <a (click)="loadChapter(6)" class="ch00 ch06">LERNEN</a>
              <a (click)="loadChapter(7)" class="ch00 ch07">ARBEITEN</a>
              <a (click)="loadChapter(8)" class="ch00 ch08">GESTALTEN UND ERSCHAFFEN</a>
              <a (click)="loadChapter(9)" class="ch00 ch09">SPRECHEN</a>
              <a (click)="loadChapter(10)" class="ch00 ch10">FREMDSPRACHE</a>
              <a (click)="loadChapter(11)" class="ch00 ch11">LESEN</a>
              <a (click)="loadChapter(12)" class="ch00 ch12">SCHREIBEN</a>
              <a (click)="loadChapter(13)" class="ch00 ch13">MESSEN</a>
              <a (click)="loadChapter(14)" class="ch00 ch14">LÖSUNGEN FINDEN</a>
              <a (click)="loadChapter(15)" class="ch00 ch15">ZÄHLEN UND RECHNEN</a>
              <a (click)="loadChapter(16)" class="ch00 ch16">FORM UND RAUM ENTDECKEN</a>
            </section>
          </div>
        </div>

        <!--- "Förderplan" --->
        <div (mouseover)="setDdVisible(1)" class="dropdown" (mouseleave)="setDdUnvisible(1)" >
          <section *ngIf="visibleArray[1]" class="upper-arrow-white"></section>
          <section *ngIf="visibleArray[1]" class="upper-arrow-blue"></section>
          <button (click)="getEdPlanData()" type="button" class="nav-button" id="educational-plan"></button>
          <div *ngIf=visibleArray[1] class="dropdown-content" id="dropdown-educational-plan">
            <section class="dropdown-header">
              <section class="row">
                <img src="../../../images/educationalPlan-big.png" class="col-xs-5 dropdown-header-picture"/>
                <p class="col-xs-7 dropdown-header-text-1">
                  DU HAST {{bodyDynamics.edPlans.count}} AKTIVE FÖRDERPLÄNE.
                </p>
              </section>
            </section>
            <a *ngFor="let cont of bodyDynamics.edPlans.plans" (click)="loadEducationPlan(cont['_id'])">{{cont.name}}</a>
          </div>
        </div>

        <!--- "Das kann ich" --->
        <div (mouseover)="setDdVisible(2)" class="dropdown" (mouseleave)="setDdUnvisible(2)">
          <section *ngIf="visibleArray[2]" class="upper-arrow-white"></section>
          <section *ngIf="visibleArray[2]" class="upper-arrow-blue"></section>
          <button type="button" class="nav-button " id="achieved-competences"></button>
          <div *ngIf=visibleArray[2] class="dropdown-content dropdown-height" id="dropdown-achieved-competences">
            <section class="dropdown-header">
              <section class="row">
                <img src="../../../images/achievedCompetences-big.png" class="col-xs-5 dropdown-header-picture"/>
                <p class="col-xs-7 dropdown-header-text-1">
                  DAS<br>KANN<br>ICH!
                </p>
              </section>
            </section>
            <section class="dropdown-scroll">
              <a href="../home" class="ch00 ch00">ALLE KOMPETENZEN</a>
              <a (click)="loadCompetences(1)" class="ch00 ch01">DAS BIN ICH!</a>
              <a (click)="loadCompetences(2)" class="ch00 ch02">ICH UND DIE ANDEREN</a>
              <a (click)="loadCompetences(3)" class="ch00 ch03">DIE WELT UM MICH HERUM</a>
              <a (click)="loadCompetences(4)" class="ch00 ch04">ICH WERDE SELBSTSTÄNDIG</a>
              <a (click)="loadCompetences(5)" class="ch00 ch05">SICH BEWEGEN</a>
              <a (click)="loadCompetences(6)" class="ch00 ch06">LERNEN</a>
              <a (click)="loadCompetences(7)" class="ch00 ch07">ARBEITEN</a>
              <a (click)="loadCompetences(8)" class="ch00 ch08">GESTALTEN UND ERSCHAFFEN</a>
              <a (click)="loadCompetences(9)" class="ch00 ch09">SPRECHEN</a>
              <a (click)="loadCompetences(10)" class="ch00 ch10">FREMDSPRACHE</a>
              <a (click)="loadCompetences(11)" class="ch00 ch11">LESEN</a>
              <a (click)="loadCompetences(12)" class="ch00 ch12">SCHREIBEN</a>
              <a (click)="loadCompetences(13)" class="ch00 ch13">MESSEN</a>
              <a (click)="loadCompetences(14)" class="ch00 ch14">LÖSUNGEN FINDEN</a>
              <a (click)="loadCompetences(15)" class="ch00 ch15">ZÄHLEN UND RECHNEN</a>
              <a (click)="loadCompetences(16)" class="ch00 ch16">FORM UND RAUM ENTDECKEN</a>
            </section>
          </div>
        </div>
      </section>

      <!--- "Menu-right" --->
      <section class="col-xs-3 float-xs-right text-xs-right">

        <!--- "Profilmenu" --->
        <div (mouseover)="setDdVisible(3)" class="dropdown" (mouseleave)="setDdUnvisible(3)" >
          <section *ngIf="visibleArray[3]" class="upper-arrow-white"></section>
          <section *ngIf="visibleArray[3]" class="upper-arrow-blue"></section>
          <button (mouseover)="changeProfileBackgroundImage(avatarPictures[avatarID], true)"
                  (mouseleave)="changeProfileBackgroundImage(avatarPictures[avatarID], false)"
                  [style.backgroundImage]="profileBackgroundImage" type="button" class="nav-button "
                  id="profile"></button>
          <div *ngIf=visibleArray[3] class="dropdown-content" id="dropdown-profile">
            <section class="dropdown-header">
              <section class="row">
                <img [src]="'../../..'+profileHeaderImage" class="col-xs-5 dropdown-header-picture"/>
                <p class="col-xs-7 dropdown-header-text-1">
                  {{headerdaten["forename"]}}<br>{{headerdaten["surname"]}}
                </p>
              </section>
              <section class="dropdown-header-text-2">
                {{headerdaten["birth"]}}
              </section>
            </section>
            <a routerLink="/changepicture">MEIN PROFILBILD ÄNDERN</a>
            <a routerLink="/changepassword">MEIN PASSWORT ÄNDERN</a>
            <a routerLink="/deleteprofile">MEIN PROFIL LÖSCHEN</a>
          </div>
        </div>

        <!--- "School-info" --->
        <div (mouseover)="setDdVisible(4)" class="dropdown" (mouseleave)="setDdUnvisible(4)">
          <section *ngIf="visibleArray[4]" class="upper-arrow-white"></section>
          <section *ngIf="visibleArray[4]" class="upper-arrow-blue"></section>
          <button (mouseover)="changeSchoolBackgroundImage(headerdaten?.school, true)"
                  (mouseleave)="changeSchoolBackgroundImage(headerdaten?.school, false)"
                  [style.backgroundImage]="schoolBackgroundImage" type="button" class="nav-button" id="school"></button>
          <div *ngIf=visibleArray[4] class="dropdown-content" id="dropdown-school-profile">
            <section class="dropdown-header">
              <section class="row">
                <img [src]="'../../..'+headerdaten?.school?.imageUrlBig" class="col-xs-5 dropdown-header-picture"/>
                <p class="col-xs-7 dropdown-header-text-1">
                  {{headerdaten?.school?.name}}
                </p>
              </section>
              <section class="dropdown-header-text-2">
                <br/>{{headerdaten?.school?.address}}
                <br/>{{headerdaten?.school?.country}}
                <br/>
                <br/>{{headerdaten?.school?.email}}
                <br/>{{headerdaten?.school?.telefon}}
              </section>
            </section>
          </div>
        </div>

        <!--- "Class-info" --->
        <div (mouseover)="setDdVisible(5)" class="dropdown" (mouseleave)="setDdUnvisible(5)">
          <section *ngIf="visibleArray[5]" class="upper-arrow-white"></section>
          <section *ngIf="visibleArray[5]" class="upper-arrow-blue"></section>
          <button (mouseover)="changeGroupBackgroundImage(headerdaten?.studyGroups, true)"
                  (mouseleave)="changeGroupBackgroundImage(headerdaten?.studyGroups, false)"
                  [style.backgroundImage]="groupBackgroundImage" type="button" class="nav-button" id="studyGroup"></button>
          <div *ngIf=visibleArray[5] class="dropdown-content" id="dropdown-study-group-profile">
            <section class="dropdown-header">
              <section class="row">
                <img [src]='"../../../"+headerdaten?.studyGroups?.imageUrlBig' class="col-xs-5 dropdown-header-picture"/>
                <p class="col-xs-7 dropdown-header-text-1">
                  KLASSE<br>{{headerdaten?.studyGroups?.class}}
                </p>
              </section>
              <section class="dropdown-header-text-2">
                KLASSENLEHRER*IN<br>{{headerdaten["formteacher"]}}
              </section>
            </section>
          </div>
        </div>

        <!-- Separation of the right buttons -->
        <div class="split">
        </div>

        <div class="split" id="split2">
        </div>

        <!--- Help --->
        <div (mouseover)="setDdVisible(6)" class="dropdown" (mouseleave)="setDdUnvisible(6)">
          <section *ngIf="visibleArray[6]" class="upper-arrow-white"></section>
          <section *ngIf="visibleArray[6]" class="upper-arrow-blue"></section>
          <button type="button" class="nav-button" id="help"></button>
          <div *ngIf=visibleArray[6] class="dropdown-content" id="dropdown-help">
            <section class="dropdown-header">
              <section class="row">
                <img src="../../../images/help-big.png" class="col-xs-5 dropdown-header-picture"/>
                <p class="col-xs-7 dropdown-header-text-1">
                  BRAUCHST<br>DU HILFE?
                </p>
              </section>
            </section>
            <a href="http://www.check-lehrerzimmer.com/hilfe/erste-schritte/" target="_blank">SO GEHT´S!</a>
            <a href="http://www.check-lehrerzimmer.com/tutorial/" target="_blank">VIDEO-TUTORIALS</a>
            <a href="http://www.check-lehrerzimmer.com/faq/" target="_blank">HÄUFIG GESTELLTE FRAGEN</a>
            <a href="http://www.check-lehrerzimmer.com/contact/" target="_blank">KONTAKT</a>
          </div>
        </div>

        <!--- Logout --->
        <div (mouseover)="setDdVisible(7)" class="dropdown" (mouseleave)="setDdUnvisible(7)">
          <section *ngIf="visibleArray[7]" class="upper-arrow-white"></section>
          <section *ngIf="visibleArray[7]" class="upper-arrow-blue"></section>
          <button type="button" class="nav-button" id="logout"></button>
          <div *ngIf=visibleArray[7] class="dropdown-content" id="dropdown-logout">
            <section class="dropdown-header">
              <section class="row">
                <img src="../../../images/logout-big.png" class="col-xs-5 dropdown-header-picture"/>
                <p class="col-xs-7 dropdown-header-text-1">
                  MÖCHTEST DU<br>CHECK!<br>VERLASSEN?
                </p>
              </section>
            </section>
            <a (click)="logout()">JA</a>
            <a href="#">NEIN</a>
          </div>
        </div>

      </section>
    </section>
  </section>
</nav>
