<nav class="navbar navbar-default" role="navigation" id="header">
  <section class="container-fluid">
    <div class="row flex-items-xs-between">
      <!-- Elemente links-->
      <div class="col-xs-2">

        <div class="dropdown ">
          <button type="button" class="nav-item" id="chapter-overview"></button>
          <div class="dropdown-content1">
            <div class="dropdown-header">
              <div class="row">
                <img src="../../img/confirmation.png" class=col-xs-5 Dropdown-Header-Picture/>
                <div class=".Dropdown-Header1">
                  CHECK!<br/>KOMPETENZENLISTE
                </div>
              </div>
            </div>

            <!--<div class="dropdown-menu scrollable-menu">-->
            <a href="#" id="K1">DAS BIN ICH!</a>
            <a href="#" id="K2">ICH UND DIE ANDEREN</a>
            <a href="#" id="K3">DIE WELT UM MICH HERUM</a>
            <a href="#" id="K4">ICH WERDE SELBSTSTÄNDIG</a>
            <a href="#" id="K5">SICH BEWEGEN</a>
            <a href="#" id="K6">LERNEN</a>
            <a href="#" id="K7">ARBEITEN</a>
            <a href="#" id="K8">GESTALTEN UND ERSCHAFFEN</a>
            <a href="#" id="K9">SPRECHEN</a>
            <a href="#" id="K10">FREMDSPRACHE</a>
            <a href="#" id="K11">LESEN</a>
            <a href="#" id="K12">SCHREIBEN</a>
            <a href="#" id="K13">MESSEN</a>
            <a href="#" id="K14">LÖSUNGEN FINDEN</a>
            <a href="#" id="K15">ZÄHLEN UND RECHNEN</a>
            <a href="#" id="K16">FORM UND RAUM ENTDECKEN</a>
            <!--</div>-->

          </div>
        </div>

        <div class="dropdown">
          <button type="button" class="nav-item " id="educational-plan"></button>
          <div class="dropdown-content1">
            <div class="dropdown-header">
              <div class="row">
                <img src="/img/educationalPlan-big.png" class=col-xs-5 Dropdown-Header-Picture/>
                <div class=".Dropdown-Header1">
                  FÖRDERPLAN<br>MATHE ZR BIS 10
                </div>
              </div>
            </div>
            <a href="#">MATHE ZR BIS 10</a>
            <a href="#">DEUTSCH SATZANFÄNGE</a>
            <a href="#">SACHKUNDE "DER WALD"</a>
          </div>
        </div>

        <div class="dropdown">
          <button type="button" class="nav-item " id="achieved-competences"></button>
          <div class="dropdown-content1">
            <div class="dropdown-header">
              <div class="row">
                <img src="/img/achievedCompetences-big.png" class=col-xs-5 Dropdown-Header-Picture/>
                <div class=".Dropdown-Header1">
                  DAS<br>KANN<br>ICH!
                </div>
              </div>
            </div>
            <!--<div class="dropdown-scrollable">-->
            <a href="#" id="K0">ALLE KOMPETENZEN</a>
            <a href="#" id="K1">DAS BIN ICH!</a>
            <a href="#" id="K2">ICH UND DIE ANDEREN</a>
            <a href="#" id="K3">DIE WELT UM MICH HERUM</a>
            <a href="#" id="K4">ICH WERDE SELBSTSTÄNDIG</a>
            <a href="#" id="K5">SICH BEWEGEN</a>
            <a href="#" id="K6">LERNEN</a>
            <a href="#" id="K7">ARBEITEN</a>
            <a href="#" id="K8">GESTALTEN UND ERSCHAFFEN</a>
            <a href="#" id="K9">SPRECHEN</a>
            <a href="#" id="K10">FREMDSPRACHE</a>
            <a href="#" id="K11">LESEN</a>
            <a href="#" id="K12">SCHREIBEN</a>
            <a href="#" id="K13">MESSEN</a>
            <a href="#" id="K14">LÖSUNGEN FINDEN</a>
            <a href="#" id="K15">ZÄHLEN UND RECHNEN</a>
            <a href="#" id="K16">FORM UND RAUM ENTDECKEN</a>
            <!--</div>-->
          </div>
        </div>
      </div>

      <!-- Logo mitte-->
      <div class="col-xs-3 float-xs-right text-xs-right">
        <!-- Elemente rechts -->
        <div class="dropdown">
          <button type="button" class="nav-item " id="student"></button>
          <div class="dropdown-content2">
            <div class="dropdown-header">
              <div class="row">
                <img src="img/student/superhero-robin-big-active.png" class=col-xs-5 Dropdown-Header-Picture/>
                <div class=".Dropdown-Header1">
                  Schüler<br/>Name
                </div>
              </div>
              <div class=".Dropdown-Header2">
                20. September 2008
              </div>
            </div>
            <a routerLink="/change-picture">Mein Profilbild ändern</a>
            <a routerLink="/change-password">Mein Passwort ändern</a>
            <a routerLink="/delete-profile">Mein Profil löschen</a>
          </div>
        </div>

        <div class="dropdown">
          <button type="button" class="nav-item" id="school"></button>
          <div class="dropdown-content2">
            <div class="dropdown-header">
              <div class="row">
                <img src="/img/school/school-green-big-active.png" class=col-xs-5 Dropdown-Header-Picture/>
                <div class=".Dropdown-Header1">
                  Astrid-<br/>Lindgren-<br>Schule
                </div>
              </div>
              <div class=".Dropdown-Header2">
                STRASSE NR<br>PLZ ORT<br>LAND<br><br>EMAIL<br>TELEFON
              </div>
            </div>
          </div>
        </div>

        <div class="dropdown">
          <button type="button" class="nav-item" id="studyGroup"></button>
          <div class="dropdown-content2">
            <div class="dropdown-header">
              <div class="row">
                <img src="../../img/studyGroup/studyGroup_2a_active-big.png" class=col-xs-5 Dropdown-Header-Picture/>
                <p class="col-xs-7 dd-header-text-1">
                  KLASSE<br>2B
                </p>
              </div>
              <div class=".Dropdown-Header2">
                KLASSENLEHRER*IN<br>Valerie Wildemann
              </div>
            </div>
          </div>
        </div>

        <div class="dropdown">
          <button type="button" class="nav-item" id="help"></button>
          <!-- Trennstrich-->
          <div class="split"></div>
          <div class="dropdown-content2">
            <div class="dropdown-header">
              <div class="row">
                <img src="img/help-big.png" class=col-xs-5 Dropdown-Header-Picture/>
                <div class=".Dropdown-Header1">
                  BRAUCHST<br/>DU HILFE?
                </div>
              </div>
            </div>
            <a href="http://www.check-lehrerzimmer.com/hilfe/erste-schritte/">SO GEHT'S!</a>
            <a href="http://www.check-lehrerzimmer.com/tutorial/">VIDEO TUTORIALS</a>
            <a href="http://www.check-lehrerzimmer.com/faq/">HÄUFIG GESTELLTE FRAGEN</a>
            <a href="http://www.check-lehrerzimmer.com/contact/">KONTAKT</a>
          </div>
        </div>


        <div class="dropdown">
          <button type="button" class="nav-item" id="logout"></button>
          <div class="dropdown-content2">
            <div class="dropdown-header">
              <div class="row">
                <img src="img/logout-big.png" class=col-xs-5 Dropdown-Header-Picture/>
                <div class=".Dropdown-Header1">
                  MÖCHTEST DU<br/>CHECK!<br/>VERLASSEN?
                </div>
              </div>
            </div>
            <a routerLink="/logout">JA</a>
            <a href="http://localhost:4200/home">NEIN</a>
          </div>
        </div>
      </div>

    </div>
  </section>
</nav>
